.right10 {
    margin-right: 10px;
}

.top10 {
    margin-top: 10px;
}

.float-button {
    position: absolute;
    top: 0;
    right: 15px;
}

/*用图片替换input框后，扩大起点击范围，并且相对图片居中*/
input[type=checkbox]{
    margin: 0 1px 0;
    zoom:110%;
}

/*checkbox美化*/
.checkbox-blue.checked {
    background-position: -34px 0;
}

.checkbox-blue {
    margin: 2px;
    width: 16px;
    height: 16px;
    background: url(../skins/blue.png) no-repeat;
}

.btn{
    padding: 4px 10px;
    border-radius: 0;
}