<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>vnote-在线记事本</title>

    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <!--支持移动设备-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--css-->
    <link href="//cdn.bootcss.com/tether/1.4.0/css/tether-theme-arrows-dark.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/simditor/2.3.6/styles/simditor.min.css" rel="stylesheet">


    <link href="css/vnote.min.css" rel="stylesheet">

    <!--js-->
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.2.4/vue.js"></script>

    <script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>

    <!--数据集操作函数-->
    <script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>

    <!--加载进度条-->
    <script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>


    <script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>

    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/locale/zh-cn.js"></script>


</head>
<body>
<div class="container" id="note">
    <div class="row top10">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <textarea id="editor" class="form-control" rows="3" style="height: 50rem" v-model="note"
                              title="欢迎使用在线备忘录。它就像一个word，可以在线保存文本。通过浏览器地址栏上的短网址（形如voson.me/1234），你可以在有网络的地方，用任意浏览器查看你之前创建或者朋友分享的文本。"
                              placeholder="欢迎使用在线备忘录。它就像一个word，可以在线保存文本。通过浏览器地址栏上的短网址（形如voson.me/1234），你可以在有网络的地方，用任意浏览器查看你之前创建或者朋友分享的文本。"
                              autofocus>

                    </textarea>
                </div>

            </form>
            <span v-if="row" class="right10">{{row.length}} 行</span>
            <span v-if="note">{{characters.length}} 个字（已计入标点符号）</span>
            <span v-if="characters.isClear && note">含有空格或换行符</span>
            <a type="button" class="btn btn-default pull-right" href="list.html">列表</a>
            <button type="button" class="btn btn-default pull-right right10" @click="deleteNote">删除</button>
            <button class="btn btn-default pull-right right10" @click="save">保存</button>
            <button class="btn btn-default pull-right right10" @click="create">新建</button>

        </div>

    </div>

</div>

<!--自定义js-->
<script src="js/common.min.js"></script>
<script src="js/vnote.min.js"></script>

</body>
</html>